name: Build and Deploy Documentation

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  build-documentation:
    name: Build and deploy cFS documents
    uses: nasa/cFS/.github/workflows/build-deploy-doc.yml@main
    with:
      target: "[\"cf-usersguide\"]"
      app-name: cf
      buildpdf: ${{ github.event_name == 'push' && contains(github.ref, 'main')}}
      deploy: ${{ github.event_name == 'push' && contains(github.ref, 'main')}}
