name: Build and Run

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  build-run:
    name: Build and run with startup msg verification
    uses: nasa/cFS/.github/workflows/build-run-app.yml@main
