name: Unit Test and Coverage

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  unit-test-coverage:
    name: Run unit test and coverage
    uses: nasa/cFS/.github/workflows/unit-test-coverage.yml@main
